section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #401c2af6;
    margin: 0% auto;
    border-radius: 10px;
    position: relative;
    margin-top: 50px;
    width: 500px;
    height: 500px;
    color: #CFB698;
    text-align: center;
}
.conteudo{
    background-color:#CFB698;
    border-radius: 10px;
    border: none;
    height: 40px;
    width: 250px;
    align-content: center;
    text-align: center;
    margin: 20px;
    color: #6F0550;
    font-size: medium;
}
button{
    background-color:#6F0550;
    border-radius: 10px;
    border: none;
    height: 40px;
    width: 200px;
    color: #CFB698;
    margin: 10px;
}
.conteudo::placeholder{
    color:  #6f054f50;
    font-family: Didot, serif	;
}
button:hover{
    background-color:#DD0B64;
}