body{
    background-color: #cfb698;
    margin: 0%;
}
.header{
    background-color: #401c2a;
    height: 50px;
    width: 100%;
    align-content: center;
    text-align: center;

}
a{
    text-decoration: none;
    padding: 50px;
    color: #cfb698;
}
a:hover{
    color:white;
}